@import 'abstract';
@import './componets/popup';
.container{
  height:100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  height:30%;
  color:white;
  font-size: 3rem;
  background-color: lighten($primary-col,10%);
  &__top{
    height:70%;
    @include flx-center;
    background-color: darken($main-left-col,15%);
  &-left{
    @include flx-center;
  }
  &-right{
    @include flx-center;
  }
  }
  &__navigation{
    height:30%;
    background-color: darken($main-left-col,5%);
  }
}
.main-content{
  background-color: lightblue;
  height: 50%;
  display: flex;
  &__left{
    background-color: darken(#ff4500,5%);
    width:20%;
    @include flx-center;
    font-size: 3rem;
    color: white;
  }
  &__middle{
    background-color: darken(#ffc0cb,20%);
    width:60%;
    @include flx-center;
    font-size: 3rem;
    color: blue;
  } 
  &__right{
    background-color: darken(#ffa500, 20%);
    width:20%;
    @include flx-center;
    font-size: 3rem;
    color: white;
  }
}
.foot{
  font-size: 2rem;
  background-color: lighten(#000000,10%);
  height: 20%;
  color:white;
  @include flx-center;
}
.top-container{
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  width:80%;
  background-color: darken($main-left-col,14%);
  height: 100%;
  color:white;
  font-size: 4rem;
  &--nav{
    background-color: darken($main-left-col,3%);
  }
}
//btn
.btn-txt{
  &:link, &:visited{
    text-decoration: none;
    color:white;
  }
  &:active, &:focus{
    border: none;
    outline: none;
  }
  &:hover{
    cursor: pointer;
    color: blue;
  }
}
//popup
.popup {
  position: fixed;
  @include flx-center;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black,.96);
  z-index:400;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  &__content {
      @include flx-center;
      transform: scale(0);
      background: white; 
      box-shadow: 1rem 1rem 0.5rem rgba(black, 0.5);
      border-radius: 4%;
      padding: 1rem;
      opacity: 0;
      visibility: hidden;
      transition: all .4s;
  }
  &__heading{
    font-size: 3rem;
    color:red;
  }
  &:target {
      opacity: 1;
      visibility: visible;
      
  }
  &:target &__content{
      opacity: 1;
      visibility: visible;
      transform: scale(1);
  }
}
.pop-container{
  @include flx-center;
}
.btn-close{
  font-size: 3rem;
  text-decoration: none;
}

